body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
:root {
  --accent-color: #28a745;
  --color-light: #ffffff;
}
/* header */
.header {
  position: fixed;
  width: 100%;
}

.logo-green {
  color: var(--accent-color);
}
.container {
  width: 1360px;
  margin: 0 auto;
  padding-left: 28px;
  padding-right: 28px;
}

.nav {
  display: flex;
  align-items: center;
}

.link-logo {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  color: #ffffff;
}

.logo-green {
}

.nav-menu {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.nav-item {
}

.nav-link {
  color: #ffffff;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* main */
/* section-hero */

.hero {
  padding-top: 280px;
  padding-bottom: 292px;
  background-image: url('../images/hero.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-back {
  background-color: #000;
}

.hero-title {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;

  text-align: center;

  color: #e9e9e9;
}
.hero-text {
  margin-bottom: 32px;
  font-size: 22px;
  line-height: 1.67;

  text-align: center;

  color: #e9e9e9;
}
.hero-button {
  display: block;
  margin: 0 auto;
  padding: 9px 28px 10px 30px;
  min-width: 165px;
  height: 48px;

  font-size: 18px;
  line-height: 1.58;
  border: none;
  border-radius: 5px;
  text-align: center;

  background: #28a745;
  color: #ffffff;
}
/* ==========SECTION SECOND */
.container-solutions{
  display: flex;
  color: #FFFFFF;
}
.container-section-second-img {

}
.container-section-second-text{
  background-color: #28A745;
  padding:80px 20px ;
}
.solutions-subtitle{
margin-bottom: 8px;
font-weight: 400;
  font-size: 20px;
  line-height: 33px;
}

.solutions-title {
  margin-bottom: 24px;
  font-weight: 300;
    font-size: 38px;
    line-height: 48px;
}

.solutions-text {
  margin-bottom: 24px;
  font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.solutions-button {
  font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}